body{
  background-image: url('../assets/img/on-sait-qu-il-faut-mettre-du-liquide-vaisselle-pour-faire-des-bulles-de-savon-c-est-lui-qui-contient-les-molecules-de-savon-photo-adobe-stock-1676021913.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@import 'blocks/bubbles.scss';
@import 'blocks/keyboard.scss';