.bubbles{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .bubbles-left, .bubbles-right{
    width: 20%;
    background: url('/virtual-keyboard/assets/img/soap1.png') 0/35%  no-repeat,
                url('/virtual-keyboard/assets/img/soap2.png') right/35%  no-repeat,
                url('/virtual-keyboard/assets/img/soap3.png') left/10%  no-repeat,
                url('/virtual-keyboard/assets/img/soap1.png') left/10%  no-repeat,
                url('/virtual-keyboard/assets/img/soap2.png') right/25%  no-repeat,
                url('/virtual-keyboard/assets/img/soap3.png') 0/20%  no-repeat,
                url('/virtual-keyboard/assets/img/soap1.png') left/15%  no-repeat,
                url('/virtual-keyboard/assets/img/soap2.png') right/35%  no-repeat,
                url('/virtual-keyboard/assets/img/soap3.png') 0/10%  no-repeat;
    animation: loading 20s infinite linear;
    background-position: 50% 1500px,
                        left 2500px,
                        right,
                        50% 1500px,
                        right 500px,
                        left,
                        70% 1000px,
                        100% 50px,
                        left 1500px;
  }
  @keyframes loading {
    100%{background-position: -200px -200px}
  }
  .bubbles-right{
    animation: loading2 20s infinite linear;
  }
  @keyframes loading2 {
    100%{background-position: 500px -200px}
  }
}